<div class="w-100 tc">
  <img src="https://res.cloudinary.com/hab6pkdiw/image/upload/v1589927219/assets/undraw_page_not_found_su7k.png"
    class="w-100 w-50-l" />

  <h1 class="f2 f1-l fw9"><%= t('admin.errors.not_found') %></h1>
</div>
