<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,700,900&display=swap" rel="stylesheet">
  </head>
  <body style="font-size:14pt;font-family:'Muli',sans-serif;margin:2em 0;">
    <p>Ola <%= @resource.email %>!</p>

    <p>Alguém requisitou um link para alterar sua senha. Você pode fazer a alteração usando o link abaixo.</p>

    <p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Se você não requisitou isso por favor ignore esse email.</p>
    <p>Sua senha não vai ser alterada até você acessar o link acima e criar uma nova senha.</p>
  </body>
</html>

